/* ---- Meeting room -------- */

video-player-container {
  height: 100%;
  width: 100%;
}

video-player {
  height: 100%;
  width: 100%;
}

/* ---- Dashboard and all app -------- */

img,
a {
  -webkit-user-drag: none;
  user-select: none;
}
