.vscode/

# dependencies
node_modules/

# build
*.tsbuildinfo
dist/

# environment variables
.env*
.dev.vars*

# keep example files
!.env.example
!.dev.vars.example
!.env.electron.example

# this is generated at root level
.vercel/
