# Video SDK key and secret, fetched from
# https://developers.zoom.us/docs/video-sdk/get-credentials/
ZOOM_VIDEO_SDK_KEY=YOUR_VIDEO_SDK_KEY_HERE
ZOOM_VIDEO_SDK_SECRET=YOUR_VIDEO_SDK_SECRET_HERE

ZOOM_API_KEY=YOUR_ZOOM_API_KEY_HERE
ZOOM_API_SECRET=YOUR_ZOOM_API_SECRET_HERE

BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET_HERE
BETTER_AUTH_URL=http://localhost:8787 # for dev

# use quotes for client id
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID_HERE"
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE

# for kysely-codegen
DATABASE_URL=YOUR_NEON_DATABASE_URL_HERE

CORS_ORIGIN=http://localhost:5173 # for dev

# for local auth
LOCAL_DATABASE_URL=YOUR_WRANGLER_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE_HERE
