# set this to your local postgresql connection string
WRANGLER_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE=postgresql://username:password@localhost:5432/database_name

# Used for local development and CLI tools such as:
#
# - Better Auth CLI

BETTER_AUTH_URL=YOUR_BETTER_AUTH_URL_HERE
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET_HERE
DATABASE_URL=YOUR_NEON_DATABASE_URL_HERE
